@mixin fontSize($sizeValue) {
  font-size: $sizeValue * 1px;
  font-size: calc($sizeValue/10) * 1rem;
}

html {
  scroll-behavior: smooth;
  background: #ffffff;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body {
  margin: 0;
  opacity: 0;
  animation: fadeIn 5s forwards;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

// main {
//   overflow: hidden;
// }
body::after {
  content: " ";
  height: calc(100vh - 70px);
  top: 20px;
  left: 50%;
  width: 2px;
  background: black;
  position: fixed;
}
body.white-text {
  header {
    h1 a,
    button {
      color: #ffffff;
    }
    .paused,
    .play {
      filter: invert(1);
    }
  }
}
body.white-text::after {
  background: white;
}
img {
  max-width: 100%;
  height: auto;
}
figure {
  margin: 0;
}
.flex {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}
a {
  color: black;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
h1,
h2 {
  @include fontSize(15);
  margin: 0;
  font-weight: 600;
}
p {
  @include fontSize(8);
  line-height: 1.3;
}
// header
header {
  z-index: 3;
  position: relative;
  h1 {
    text-transform: uppercase;
  }
  .siteTitle {
    position: fixed;
    top: 20px;
    left: 20px;
  }
  .aboutLink {
    position: fixed;
    bottom: 20px;
    left: 20px;
  }
  .timeline {
    .menu {
      display: none;
      li {
        width: 100%;
        margin: 0 auto;
        span {
          background: black;
          color: white;
          @include fontSize(8);
          padding: 4px 15px;
          text-align: center;
          display: flex;
          margin: 0 auto;
          width: fit-content;
          cursor: pointer;
        }
      }
    }
    .openMenu {
      display: block;
      margin: 0;
      padding: 0;
      list-style: none;
      height: calc(100dvh - 90px);
      width: 100px;
      position: fixed;
      background: white;
      bottom: 50px;
      left: calc(50% - 50px);
      padding: 20px 0;
      display: flex;
      flex-flow: wrap;
      transition: 1s ease-in;
    }
    .openMenu::before {
      content: " ";
      z-index: -1;
      width: 2px;
      position: absolute;
      height: calc(100dvh - 90px);
      background: black;
      left: 50%;
    }
    button {
      color: black;
      position: fixed;
      bottom: 20px;
      width: 120px;
      text-align: center;
      left: calc(50% - 60px);
      @include fontSize(15);
      text-transform: uppercase;
      font-weight: 600;
      background: transparent;
      padding: 0;
      transition: 1s ease-in;
      border: none;
    }
  }
  // .audioComp {
  //     position: fixed;
  //     bottom: 20px;
  //     right: 20px;

  // }
}

//Audio
.audiobutton {
  background: transparent;
  border: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.play {
  background: url(sources/mic-Black.svg);
  width: 45px;
  height: 37px;
}
.paused {
  background: url(sources//mic-off.svg);
  width: 36px;
  height: 38px;
}

.navigation {
  @extend .flex;
  justify-content: center;
  .beforeLink {
    content: " ";
    background: url(./sources/arrow.svg);
    display: block;
    width: 26px;
    height: 14px;
    cursor: pointer;
  }
  .afterLink {
    content: " ";
    background: url(./sources/arrow.svg);
    display: block;
    width: 26px;
    height: 14px;
    transform: rotate(180deg);
    cursor: pointer;
  }
}
.singleProject,
.about,
.landingPage {
  position: relative;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
  .projectTitle,
  .pageTitle {
    position: sticky;
    top: 20px;
    left: 100%;
    margin-right: 20px;
    width: fit-content;
    text-align: right;
    z-index: 3;
    text-transform: uppercase;
  }
  .layout1,
  .layout2 {
    position: absolute;
    top: 0vh;
    left: 0;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    z-index: 0;
  }
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
  }
  .container {
    padding: 15vh 5%;
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }
}
.landingPage {
  min-height: 100vh;
  .layout1 {
    background: url(./sources/landing/layer1.png);
    top: 14%;
  }
  .layout2 {
    background: url(./sources/landing/layer2.png);
    left: 50%;
    top: -18%;
  }
  .landingPageInner {
    position: relative;
    min-height: 90vh;
    .landingImg {
      width: 48%;
      max-width: 600px;
      top: 0%;
      position: absolute;
    }
    .landingText {
      width: 45%;
      max-width: 400px;
      background: #faff13;
      border: 1px solid black;
      padding: 20px;
      position: absolute;
      bottom: 20%;
      left: 30%;
    }
    .navigation {
      width: 200px;
      border: 1px solid black;
      padding: 20px;
      position: absolute;
      left: calc(50% - 120px);
      background: white;
      text-align: center;
      z-index: 4;
      a {
        display: flex;
        justify-content: center;
      }
    }
  }
}
.navAnime {
  animation: fadeout 10s ease-in-out;
  animation: horizontal-shaking 1s infinite ease-in-out;
}
@keyframes horizontal-shaking {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

.s2666 {
  // background-color: #0500ff;
  min-height: 100vh;
  .projectTitle {
    color: white;
  }
  .layout1 {
    background: url(./sources/2066/layer2.png);
    // filter: invert(1);
    left: 40%;
    // top: 3%;
    width: 80%;
  }
  .layout2 {
    background: url(./sources/2066/layer1.png);
    left: 0%;
    // top: -80%;
  }
  .projectContent {
    position: relative;
    min-height: 90vh;
    .projectText {
      background: white;
      border: 1px solid black;
      padding: 20px;
      width: 50%;
      max-width: 400px;
      position: absolute;
      bottom: 20%;
      right: 0;
      z-index: 3;
    }
    .second-image {
      position: absolute;
      width: 30%;
      max-width: 340px;
      top: -10%;
      left: 38%;
    }
    .first-image {
      position: absolute;
      width: 45%;
      max-width: 450px;
      bottom: 100px;
      left: 0;
    }
  }
}
.s2022-1 {
  .layout1 {
    background: url(./sources/2022-1/layer1.png);
    position: fixed;
    top: 30%;
    width: 50%;
  }
  .layout2 {
    background: url(./sources/2022-1/layer2.png);
    position: fixed;
    width: 60%;
    left: 40%;
  }
  .projectContent {
    position: relative;
    height: 300vh;

    .projectText {
      background: #6ff91a;
      width: 40%;
      position: sticky;
      top: 200px;
      padding: 20px;
      border: 1px solid black;
      z-index: 4;
    }
    .first-image {
      width: 100%;
      position: absolute;
      left: calc(100% - 750px);
      top: 0;
    }
    .second-image {
      position: absolute;
      width: 50%;
      left: 25%;
      max-width: 650px;
      top: 100vh;
    }
    .third-image {
      width: 30%;
      position: absolute;
      right: 20px;
      top: 135vh;
    }
    .fourth-image {
      width: 60%;
      max-width: 600px;
      position: absolute;
      top: 200vh;
      left: 38%;
    }
  }
}
.s2022-2 {
  // background-color: #faff13;

  .layout1 {
    background: url(./sources/2022-2/layer1.png);
    width:100%;
    left: 0%;
    top: 5%;
  }
  .layout2 {
    background: url(./sources/2022-2/layer2.png);
    opacity: 0.8;
    left: 0%;
  }
  .projectContent {
    min-height: 150vh;
    .projectText {
      /* position: absolute; */
      top: 10%;
      width: 60%;
      left: 50%;
      margin: 20vh auto;
      padding: 20px;
      border: 1px solid black;
      background: white;
    }
    .projectVideo {
      margin-top: 5vh;
      max-width: 900px;
      margin: 0 auto;
    }
  }
}
.s1519 {
  .projectContent {
    min-height: 150vh;
    position: relative;
    .projectText {
      width: 45%;
      background: #0500ff;
      color: white;
      padding: 20px;
      position: sticky;
      left: 21%;
      z-index: 4;
      top: 70px;
      border: 1px solid white;
    }
    .first-image {
      position: absolute;
      width: 25%;
      top: -100px;
      max-width: 240px;
    }
    .second-image {
      position: absolute;
      width: 30%;
      max-width: 420px;
      left: 63%;
      top: 45%;
      img {
        max-height: 80vh;
        width: auto;
      }
    }
    .third-image {
      position: absolute;
      top: 0;
      width: 25%;
      right: 0;
    }
  }
  .layout1 {
    background: url(./sources/1519/layer1.png);
    width: 60%;
    left: 40%;
  }
  .layout2 {
    background: url(./sources/1519/layer2.png);
    width: 80%;
    left: 0%;
  }
}
.about {
  background: black;
  .container {
    padding: 0 5%;
  }
  .container::after {
    background: #ffffff;
    content: " ";
    height: calc(100dvh - 70px);
    top: 20px;
    left: 50%;
    width: 2px;
    position: fixed;
    z-index: -1;
  }
  header {
    h1 a,
    button {
      color: #ffffff;
    }
    .paused,
    .play {
      filter: invert(1);
    }
  }
  .layout1 {
    background: url(./sources/about/layer1.png);
    background-size: cover !important;
    height: 100vh;
  }
  .layout2 {
    background: url(./sources/about/layer2.png);
    height: 100vh;
    left:5%;
    top: -3%;
  }
  .aboutPage {
    @extend .flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;


    .aboutPageText {
      width: 40%;
      height: fit-content;
      background: #faff13;
      border: 1px solid black;
      padding: 20px;
      .contactEach {
        a {
          @include fontSize(8);
          text-decoration: underline;
        }
      }
    }
    .aboutImg {
      width: 30%;
      max-width: 430px;
      margin: 0 auto;
    }
  }
}

@media (max-width: 875px) {
  .s2666 {
    .layout1 {
      left: 0;
    }
    .projectContent {
      .second-image {
        left: 10%;
      }
    }
  }
  .landingPage {
    .landingPageInner .landingText {
      width: 50%;
      left: 47%;
    }
    .layout2 {
      left: 0;
    }

  } 
  .s2022-1 {
    .layout2 {
      left: 0;
    }
    .projectContent .projectText {
      width: 60%;
    }
  }
  .s1519 .projectContent .projectText {
    width: 70%;
    left: 15%;
  }
}
@media (max-width: 700px) {
  h1,
  header .timeline button {
    @include fontSize(12);
  }

  header {
    .paused,
    .play {
      scale: 0.6;
    }
  }
  .audiobutton {
    bottom: 12px;
    right: 6px;
  }
  .singleProject,
  .about,
  .landingPage {
    .container {
      padding: 7vh 5% 20vh;
    }
  }
  .s2666 {
    .projectContent {
      display: flex;
      flex-wrap: wrap;
      .projectText {
        width: 100%;
        position: initial;
        margin: 30px 0;
        order: 2;
      }
      .first-image {
        width: 100%;
        position: initial;
        order: 1;
      }
      .second-image {
        width: 100%;
        position: initial;
        order: 3;
      }
    }
  }
  .landingPage {
    .landingPageInner {
      display: flex;
      flex-wrap: wrap;
      .landingText {
        width: 100%;
        position: initial;
        margin: 30px 0;
        order: 3;
      }
      .landingImg {
        width: 100%;
        position: initial;
        order: 1;
      }
      .navigation {
        position: inherit;
        order: 2;
        margin-top: 30px;
      }
    }
  }
  .s2022-1 {
    .layout1, .layout2 {
      position: absolute;
    }
    .projectContent {
      display: flex;
      flex-wrap: wrap;
      height: initial;
      .projectText {
        width: 100%;
        position: initial;
        margin: 30px 0;
        height: fit-content;
        order: 2;
      }
      .first-image {
        width: 100%;
        position: initial;

        order: 1;
      }
      .second-image {
        width: 100%;
        order: 3;
        position: relative;
        left: -2%;
        width: 80%;
        top: 23px;
      }
      .third-image {
        width: 100%;
        position: initial;
        order: 4;
      }
      .fourth-image {
        left: 32%;
        width: 70%;
        top: -10px;
        position: relative;
        order: 5;
      }
    }
  }
  .s2022-2 {
    .projectContent {
      min-height: 100vh;
      .projectText {
        width: 80%;
        margin: 10vh auto 20vh;
      }
    }
  }
  .about {
    .container {
      padding: 5vh 5%;
    }
    .layout1 {
      height: 110vh;
    }
    .aboutPage {
      .aboutPageText {
        width: 100%;
        position: relative;
        z-index: 1;
      }
      .aboutImg {
        width: 70%;
        margin: 0 auto;
        position: relative;
        top: -5vh;
        z-index: 0;
      }
    }
  }
  .s1519 {
    .projectContent {
      display: flex;
      flex-wrap: wrap;
      height: initial;
      .projectText {
        width: 100%;
        position: initial;
        margin: 30px 0;
        height: fit-content;
        order: 2;
      }
      .first-image {
        width: 80%;
        position: sticky;

        order: 1;
      }
      .second-image {
        width: 50%;
        order: 3;
        position: relative;
        left: -2%;
        top: 23px;
      }
      .third-image {
        width: 50%;
        position: relative;
        order: 4;
        top: -11vh;
        left: 5%;
      }
    }
  }

}
